.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #171717;
}

.passwordWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  flex-grow: 1;
  padding: 11px 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
}
.inputGroup ::placeholder {
  color: #a3a3a3;
  font-size: 16px;
}
.eyeButton {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.eyeIcon {
  color: #a3a3a3;
}
