/*btn 의 CSS 들 */

/* 화이트 버튼 : btn-solid (default) */

.button {
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid black;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  font-style: pretendard;
  white-space: nowrap;
  cursor: pointer;
}

/* 블랙 버튼 */

.button_black {
  width: 100%;
  background-color: black;
  color: white;
}

/* 레드 버튼 */

.button_red {
  background-color: #ffe7e7;
  color: #f24744;
  border: none;
}

/* 링크 열기 버튼 : btn-tranparent */
.button_gray {
  width: 100%;
  background-color: #e5e5e5;
  color: #737373;
  border: none;
}

.button_yellow {
  width: 100%;
  background-color: #ffc117;
  color: #262626;
  border: 2px solid #262626;
}

/* btn-outline-icon */

.button_outline_icon {
  top: 7px;
  left: 16px;
  gap: 6px;

  background-color: #ffffff;
  color: #262626;

  border-radius: 30.5px;

  font-family: Pretendard;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.71px;
  letter-spacing: 0%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 132px;
  height: 33px;
}

.button_my_work {
  top: 7px;
  left: 16px;
  gap: 6px;

  background-color: #ffffff;
  color: #262626;

  border-radius: 30.5px;

  font-family: Pretendard;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.71px;
  letter-spacing: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* page btn */

.button_page {
  width: 40px;
  height: 40px;
  padding: 11.5px 16.5px;
  color: #a3a3a3;

  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;

  border: 0.5px solid gray;
}

.button_page_arrow {
  width: 40px;
  height: 40px;
  padding: 11.5px 16.5px;
  color: #a3a3a3;

  font-weight: 500;
  font-size: 18px;
  line-height: 16.71px;
  font-weight: bolder;
  border: none;
}

.button_page_active {
  width: 40px;
  height: 40px;
  padding: 11.5px 16.5px;
  background-color: #262626;
  color: #ffc117;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.button_page:focus {
  background-color: #262626;
  color: #ffc117;
  border: none;
}

/* btn_right */

.button_rightBig {
  width: 40px;
  height: 40px;

  background-color: #262626;

  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button_rightSmall {
  width: 24px;
  height: 24px;

  background-color: #262626;

  border-radius: 24px;

  position: relative;
}

/* 이거 위치조정 해줄 수 있는 분 */
.button_rightSmall > svg {
  position: absolute;
  bottom: 4px;
  right: 4.4px;
}

/* btn_bottom */

.button_bottom {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #d4d4d4;

  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button_bottom:active {
  background-color: #262626;
}

.custom_black {
  background-color: black;
  color: white;
}

.load {
  background-color: black;
  color: white;
  width: 90px;
  height: 32px;
  gap: 4px;
  border-radius: 10px;
  padding-top: 2px;
  padding-right: 16px;
  padding-bottom: 3px;
  padding-left: 16px;
  box-sizing: border-box;
}

.yes {
  width: 90px;
  height: 40px;
  gap: 4px;
  border-radius: 12px;
  border-width: 1px;
  padding-top: 2px;
  padding-right: 16px;
  padding-bottom: 3px;
  padding-left: 16px;
  background: #262626;
  border: 1px solid #262626;
  box-sizing: border-box;
  color: white;
}
.no {
  width: 90px;
  height: 40px;
  gap: 4px;
  border-radius: 12px;
  border-width: 1px;
  padding-top: 2px;
  padding-right: 16px;
  padding-bottom: 3px;
  padding-left: 16px;
  background: #ffffff;
  border: 1px solid #262626;
  box-sizing: border-box;
}

.button_page_inactive {
  border: none;
  font-size: 14px;
  color: #a3a3a3;
  font-weight: 500;
}

.none {
  padding: 0;
  margin: 0;
  border: none;
}
