.container {
  display: flex;
  flex-direction: column;
  width: 890px;
  margin: 0 auto;
}
.headerContainer {
  width: 890px;
  height: 40px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonContainer {
  gap: 8px;
  display: flex;
  align-items: center;
}
.exitButton {
  width: 81px;
  height: 40px;
  background-color: #ffe7e7;
  font-size: 16px;
  font-weight: 600;
  color: #f24744;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.saveDraftButton {
  width: 90px;
  height: 40px;
  background-color: white;
  color: #262626;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
}
.submitButton {
  width: 90px;
  height: 40px;
  background-color: #262626;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.horizontalLine {
  width: 890px;
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.challengeTitle {
  width: 890px;
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #262626;
  margin-top: 24px;
}

.editor-toolbar .underline-button {
  /* 아이콘 이미지 경로 */
  background-size: contain; /* 이미지 크기 조정 */
  background-repeat: no-repeat;
  width: 20px; /* 버튼 크기 조정 */
  height: 20px;
  border: none; /* 기본 테두리 제거 */
  padding: 0; /* 기본 패딩 제거 */
  cursor: pointer;
}

.savedWork {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #262626;
  background-color: #fafafa;
  white-space: none;
  padding: 8px;
  gap: 4px;
  align-items: center;
  box-sizing: border-box;
  margin-top: 200px;
}

.savedInfo {
  display: flex;
  gap: 8px;
  align-items: center;
}
.savedInfo p {
  margin: 0;
}

.xIcon {
  cursor: pointer;
}
