.container {
  display: flex;

  flex-direction: column;

  border-radius: 8px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;

  width: 343px;
  max-height: 465px;
}

.header {
  padding: 15px 16px;

  font-family: Pretendard;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: 0%;

  color: #262626;
}

.dialogBox {
  flex: 1;
  overflow-y: auto;
  /* 내용이 많아지면 스크롤 생성 */
  max-height: 400px;
  padding: 10px 16px;

  /* 스크롤바 커스텀 스타일 */
  scrollbar-width: thin;
  /* Firefox에서 얇은 스크롤바 적용 */
  scrollbar-color: #ccc transparent;
  /* Firefox에서 스크롤 색상 */
}

/* WebKit (Chrome, Edge, Safari) 스크롤바 스타일 */
.dialogBox::-webkit-scrollbar {
  width: 4px;
  /* 약간 두껍게 조절 */
}

.dialogBox::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.dialogBox::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* 위아래 화살표 버튼 제거 */
.dialogBox::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
