.container {
  position: absolute;
  top: 100%;
  /* 버튼 바로 아래에 위치하도록 설정 */
  left: 0;
  z-index: 10;
  width: 343px;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}


.container * {
  margin: 0px;
}


.container>.header {

  padding: 10px 0px;

  display: flex;

  align-items: center;

  border-bottom: 1px solid #E5E5E5;
}

.container>.header>h3 {
  flex: 1;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 22px;
  line-height: 16.71px;
  letter-spacing: 0%;

}

.container>.header>button {
  border: none;
  background-color: white;
  cursor: pointer;

  font-size: 20px;
}


.section1 {
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
}

.container h4 {
  flex: 1;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 20px;
  line-height: 16.71px;
  letter-spacing: 0%;
  padding: 10px 0px;
}

.TechStack {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-bottom: 10px;
  border-bottom: 1px solid #E5E5E5;
}

.section2 {
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
}

.docType {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-bottom: 10px;
  border-bottom: 1px solid #E5E5E5;
}


.section3 {
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
}

.progressState {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-bottom: 10px;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 3px;
}

.btnSection {

  display: flex;

  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;

  gap: 10px;

}