.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  gap: 1rem;
}

.title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: 600;
}

.content {
  padding: 20px;
}
