.container {
  border: 2px solid #262626;
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  max-width: 900px;
  background: white;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
}

.pagination {
  width: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #262626;
  font-size: 14px;
}

.paginationButton {
  background: none; /* 배경 제거 */
  border: none; /* 테두리 제거 */
  padding: 0; /* 패딩 제거 */
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.paginationButton:disabled {
  opacity: 0.5;
  cursor: default;
}

.paginationList {
  height: 24px;
  width: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  background-color: #fafafa;
}

.currentPage {
  color: #ffc117;
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
  border-bottom: 1px solid #e5e5e5;
}

.rank {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 21px;
  text-align: center;
  font-weight: 500;
  color: #ffc117;
  background: black;
  border-radius: 16px;
  font-size: 14px;
}

.userInfoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.nickname {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
}

.role {
  display: block;
  font-size: 12px;
  color: #737373;
}

.favorites {
  font-weight: 500;
  font-size: 14px;
  color: #737373;
}

.viewWork {
  background: none;
  border: none;
  color: black;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  text-decoration-line: none;
  display: flex;
  align-items: center;
}

.favoriteContainer {
  display: flex;
  margin-right: 30px;
  gap: 4px;
  align-items: center;
}
.listItemFirst {
  display: flex;
  gap: 20px;
  align-items: center;
}
.listItemSecond {
  display: flex;
}

.noPaticipants {
  text-align: center;
  font-weight: 400;
  line-height: 19.09px;
  padding: 16px;
  color: #737373;
  white-space: pre-line; /* 줄바꿈 문자 인식 */
}
