.chip_category {
  height: 26px;
  padding: 0px 7px;
  background-color: #ffffff;
  color: #525252;
  border-radius: 8px;
  line-height: 15.51px;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  border: 1px solid #d4d4d4 !important;
  display: flex;
  justify-content: center;
  align-items: center;

}