.chip_nextjs {
  background-color: #79e16a;
  color: #525252;
  font-weight: 700;
  padding: 3px 12px;
  border-radius: 8px;
  font-size: 14px;
  display: inline-block;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.chip_api {
  background-color: #ff905e;
  color: #525252;
  font-weight: 700;
  padding: 3px 12px;
  border-radius: 8px;
  font-size: 14px;
  display: inline-block;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.chip_career {
  background-color: #7eb2ee;
  color: #525252;
  font-weight: 700;
  padding: 3px 12px;
  border-radius: 8px;
  font-size: 14px;
  display: inline-block;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.chip_modernjs {
  background-color: #f66e6b;
  color: #525252;
  font-weight: 700;
  padding: 3px 12px;
  border-radius: 8px;
  font-size: 14px;
  display: inline-block;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.chip_web {
  background-color: #f7ea5d;
  color: #525252;
  font-weight: 700;
  padding: 3px 12px;
  border-radius: 8px;
  font-size: 14px;
  display: inline-block;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
