.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: black;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #D4D4D4;
}

.cell {
  flex: 1;
  text-align: left;
  font-size: 14px;
  height: 10px;

  padding: 5px 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}


.title {
  flex: 2;
  text-align: center;
  font-size: 14px;
  height: 10px;
  padding-left: 0px;
}