.container {
  display: flex;
  flex-direction: column;
  width: 890px;
  margin: 0 auto;
}
.headerContainer {
  width: 100%;
  display: flex;

  margin-top: 24px;
}

.userContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  line-height: 14.32px;
}
.challengeTitle {
  width: 581px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 12px;
}

.horizontalLine {
  width: 100%;
  border-top: 1px solid #f5f5f5;
  margin: 24px 0 24px;
}

.content {
  color: #404040;
  font-weight: 400;
  font-size: 16px;
}

.chipStatus {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #262626;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
