.challengeTitle {
  width: 549px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 12px;
}

.horizontalLine {
  border-top: 1px solid #f5f5f5;
  margin: 24px;
  /* 두께 1px, 검은색 실선 */
}

.content {
  color: #404040;
  font-weight: 400;
  font-size: 16px;
}

.chipStatus {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #262626;
}