.container {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 10px 16px;
  width: 100%;
  border: 1px solid #e5e5e5;
}

.input {
  border: none;
  outline: none;
  font-size: 16px;
  margin-left: 10px;
  flex: 1;
  color: #525252;
  width: 100%;
}

.input::placeholder {
  color: #b0b0b0;
}
