.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 518px;
  margin: auto;
}
.authContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: center;
}

.authInput {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.authPrompt {
  color: #525252;
}
